ENVIRONMENT_PREFIX="wor"
PROJECT_PREFIX="cg"
PROJECT_LOCATION="North Europe"
LOG_FOLDER="${LOG_FOLDER:-${HOME}/logs}"

mkdir -p "$LOG_FOLDER"
PROJECT_RESOURCE_GROUP="DevOps"
USER_ASSIGNED_IDENTITY_ID="25d9d711-0b76-4048-92c6-f319827e9094"
ACR_NAME="${ENVIRONMENT_PREFIX}${PROJECT_PREFIX}contregistry"